body {
    color: #f5f5f5;
    background-color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: none;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    align-items: center;
}

.container p {
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
}

.child {
    margin: 0px 0px 0px 10px;
    font-size: 16px;
    font-weight: 400;
}

#parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#likesId, #passId, #swipesId, #sentMessagesId, #receivedMessagesId {
    padding: 0;
    background-color: #444444;
    color: #f5f5f5;
    border: none;
    border-radius: 0;
}

.banner {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #282828;
}

.banner h1 {
    color: #f5f5f5;
    font-size: 28px;
    text-align: center;
    padding: 10px;
    border: none;
}
